<a href="https://colab.research.google.com/github/RenaldoFrz/Software_Engineer_Renaldo_Fareza/blob/main/22_09_%5BPython_Basic_Note%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Contoh penggunaan Variabel
a = 10 # Integer
b = 3.14 # Float
c = "A" # String
d = 'Aldo' # String
e = "Softwer Engineer" # String
f = True # Boolean
g = [] # Initialize List
h = [1,2,3] # List with value 
i = {} # Dictionary 
j = () # Tuple

In [ ]:
# Print -- Untuk debugging
print(a + b)
print(d)
print(f)
print(h)

13.14
Aldo
True
[1, 2, 3]

In [ ]:
nama = "Aldo"
umur = 19
domisili = 'Jambi'

#Concatination
print("Hai namaku adalah " + nama) # Sedikit ribet dalam penggunaan kalimat panjang dan memerlukan konveri tipe data
print("Umurku : {}".format(umur))
print("Aku {}, umur {}, dan tinggal di {} ".format(nama, umur, domisili))

Hai namaku adalah Aldo
Umurku : 19
Aku Aldo, umur 19, dan tinggal di Jambi

In [ ]:
# Input User
nama = input()

Renaldo

In [ ]:
print("Aku {}, umur {}, dan tinggal di {} ".format(nama, umur, domisili))

Aku Renaldo, umur 19, dan tinggal di Jambi

In [ ]:
# Condition - if else
a = 10
b = 10
## Conditional Statement
a == b # Jika nilai a sama dengan b
a != b # Jika nilai a tidak sama dengan b
a < b
a <= b
a > b
a >= b
True and True 
True or False

## Operator
a + b
a - b
a * b
a / b # Float division = 1.0
a // b # Int division = 1
a ** b # Square
a % b # Modulo
a ** (1/2) # SQRT tanpa built-in
Math.sqrt(a) # SQRT dengan import math

In [ ]:
if a == 10:
  print("Nilai a sama dengan 10") # Menggunakan indentasi
elif a > 10:
  print("Nilai a lebih besar dari 10")
else:
  print("Nilai a kurang dari 10")
print("Outner of if statement")

Nilai a sama dengan 10
Outner of if statement