<a href="https://colab.research.google.com/github/RenaldoFrz/Software_Engineer_Renaldo_Fareza/blob/main/29_09_%5BPython_Data_Struct_%26_Function_Notebook%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# List ()
# Dict {}
# Set {}
# Tuple ()
# Looping
# Function

In [3]:
# List 
# Zero indexing [0]
contoh_list = ['Aldo', 12, 12.0, ['David', 'Dian'], {}, (), True]
print(contoh_list[0])
print(contoh_list[-1])

Aldo
True

In [47]:
# Dictionary
# Using key for access the value
contoh_dict = {
    2 : "Aldo",
    "Dua puluh" : 20,
    False : 12.0,
    3.32 : ['David', 'Dian'],
    "Dict" : {
        "data" : "basis",
        "fungi" : "jamur"
    },
    300 : (),
    "Boolean" : False,
}
print(contoh_dict["Dict"])
print(contoh_dict[3.32])

# Method in Dict
# 1. Showing keys in the dict
contoh_dict.keys()

# 2. Adding new value into the dict
contoh_dict["Soft Eng"] = 100
print(contoh_dict)
# !! If you want to add multiple value in on key, it must convert into a list [100]

# 3. Removing value in dict
contoh_dict.pop("Dua puluh")
print(contoh_dict)
# !! In other way, you can use 
# del contoh_dict["Dua puluh"]

{'data': 'basis', 'fungi': 'jamur'}
['David', 'Dian']
{2: 'Aldo', 'Dua puluh': 20, False: 12.0, 3.32: ['David', 'Dian'], 'Dict': {'data': 'basis', 'fungi': 'jamur'}, 300: (), 'Boolean': False, 'Soft Eng': 100}
{2: 'Aldo', False: 12.0, 3.32: ['David', 'Dian'], 'Dict': {'data': 'basis', 'fungi': 'jamur'}, 300: (), 'Boolean': False, 'Soft Eng': 100}

In [24]:
# Method in list
# 1. append => inserting value into the last index of list
list1 = [3,1,2,4,5,6]
print(list1)
list1.append("String")
print(list1)

[3, 1, 2, 4, 5, 6]
[3, 1, 2, 4, 5, 6, 'String']

In [25]:
# 2. insert => inserting value with determine the index of list
list1.insert(4, "Aldo")
print(list1)

[3, 1, 2, 4, 'Aldo', 5, 6, 'String']

In [34]:
# 3. sort => Sorting the value 
list_angka = [9, 0, 5, 4, 1, 2]
list_angka.sort()
list_angka

[0, 1, 2, 4, 5, 9]

In [35]:
# 4. pop => removing the value from the last index
list_angka.pop()
list_angka

[0, 1, 2, 4, 5]

In [36]:
# 5. remove => removing the value with determine value and index
list_angka.remove(0) # value
list_angka
list_angka.remove(list_angka[2]) #index
list_angka

[1, 2, 5]

In [40]:
# Set !! Can't be call in code
list_angka = [9,7,4,1,7]
list_angka
# Conversion list to set
set_angka = set(list_angka)
set_angka
# Convertion set to list
list_angka = list(set_angka)
list_angka

[9, 4, 1, 7]

In [42]:
# Tuple !! Can't change the value but we still can call it
tuple_angka = (1,3,5,7,9,7)
tuple_angka[4]

9

In [53]:
# Looping 
# 1. for loop
for i in range(10):
  print("Hai {}".format(i))

for i in range(1,11,1): # starting_value, < max_value, increment/decrement_value
  print("Hai {}".format(i))

Hai 0
Hai 1
Hai 2
Hai 3
Hai 4
Hai 5
Hai 6
Hai 7
Hai 8
Hai 9
Hai 1
Hai 2
Hai 3
Hai 4
Hai 5
Hai 6
Hai 7
Hai 8
Hai 9
Hai 10

In [61]:
# 2. while looping
a = 0
while a < 20 : 
  print("{} masih lebih kecil dari 20".format(a))
  a += 1

0 masih lebih kecil dari 20
1 masih lebih kecil dari 20
2 masih lebih kecil dari 20
3 masih lebih kecil dari 20
4 masih lebih kecil dari 20
5 masih lebih kecil dari 20
6 masih lebih kecil dari 20
7 masih lebih kecil dari 20
8 masih lebih kecil dari 20
9 masih lebih kecil dari 20
10 masih lebih kecil dari 20
11 masih lebih kecil dari 20
12 masih lebih kecil dari 20
13 masih lebih kecil dari 20
14 masih lebih kecil dari 20
15 masih lebih kecil dari 20
16 masih lebih kecil dari 20
17 masih lebih kecil dari 20
18 masih lebih kecil dari 20
19 masih lebih kecil dari 20
18

In [62]:
# study case: Input umur user yang tidak boleh dibawah 18 tahun
while True: 
  umur = int(input())
  if umur == 17: 
    continue
  elif umur > 17: 
    break
  print("Jika dibawah um1ur 17 aku muncul")

13
Jika dibawah uur 17 aku muncul
12
Jika dibawah uur 17 aku muncul
11
Jika dibawah uur 17 aku muncul
17
18

In [64]:
# 3. for else
for i in range(0,10,1):
  print(i)
  if i == 2:
    continue

else:
  print("Aku akan muncul jika break tidak tereksekusi")

0
1
2
3
4
5
6
7
8
9
Aku akan muncul jika break tidak tereksekusi

In [70]:
# 4. for in (list/dict)
for i in list_angka:
  print(i)

for char in " Renaldo Fareza":
  print(char)

9
4
1
7

R
e
n
a
l
d
o

F
a
r
e
z
a

In [74]:
list_angka = [1,2,3,4,"lima",6,7,8,9,0]
for nilai in list_angka:
  if nilai == 0:
    list_angka.remove(nilai)
list_angka

[1, 2, 3, 4, 'lima', 6, 7, 8, 9]

In [80]:
list_angka = [1,2,3,4,"lima",6,7,8,9,0]
for index, nilai in enumerate(list_angka):
  if nilai == 0:
    list_angka[index] = "Nol"

list_angka

[1, 2, 3, 4, 'lima', 6, 7, 8, 9, 'Nol']

In [67]:
# Function
# It would be better for the function with return value rather than print
def lebih_besar(a, b):
  if a > b: return a
  else: return b

print(lebih_besar(3,10))

10

In [ ]:
# Additional note
# 1. type() =>  to check the type of object